@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body background */
body {
    font-family: lato, sans-serif;
    background: black;
    color: white;
}
/* headings and logo */
.container{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
}
h1,h4 {
   font-family: Lato, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;

}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: right;
}
.items a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

}
.items a:hover {
    color: red;
}
.active {
    color: red !important;
}


button:hover {
  background: white;
  outline: 1px solid red;
  color: red;
  border: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

/* hero image */
#hero-image {
  height: 45px;
  width: 100%;
  background-image: url('../images/tired-man.jpg') no repeat center center;
 background-position: relative;

#hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #daa520;
}
  }

  .row {
    grid-template-columns: 1fr;
  }
  
/* services */
#services {
  height: 400px;
}
.mhs-left {
  padding-top: 30px;
  width: 33%;
  float: left;
  background-color: #FF7A33;
}
.mhs-center {
  padding-top: 30px;
  width: 33%;
  margin: 0 auto;
  background-color: #058F8A;
}
.mhs-right {
  padding-top: 30px;
  width: 33%;
  float: right;
  background-color: #BD4607;
}

