@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body background */
body {
    font-family: 'Lato', sans-serif;
    background: black;
    color: white;
}
/* headings and logo */
.container{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
#logo {
  width: 60px;
  height: 60px;
  margin: 10px;
}
h1,h4 {
   font-family: Lato, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;

}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}
.items a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0 0.4rem;

}
.items a:hover {
    color: #058F8A;
}
.active {
    color:  #daa520;
}


button:hover {
  background: white;
  outline: 1px solid #16DBD4;
  color: #16DBD4;
  border: none;
  text-decoration: underline;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

/* hero image */
#hero-image {
  height: 100%;
  width: 100%;
  background-size: cover;
}
#hero-text {
  text-align: center;
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-size: 30px;
}

  .row {
    grid-template-columns: 1fr;
  }
  


/* general content */
.info {
  text-align: center;
  padding: 40px 40px 0 40px;
}
.info h2 {
  margin: 0 auto 20px auto;
  font-size: 35px;
  border-bottom: 2px solid #FF7A33;
  padding: 5px 10px 0 10px;
  width: fit-content;
}
.info p {
  font-size: 1rem;
  color: white;
}
.info h3 {
  font-size: 24px;
  padding: 30px;
}
/* footer styling */
.main-footer {
  max-height: 15rem;
  background-color: #1446a0;
}

.footer-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.footer-container h2 {
  padding-bottom: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo-footer:hover {
  cursor: pointer;
}

.logo-header:hover {
  cursor: pointer;
}

.logo-footer {
  height: 110px;
  width: 110px;
}

.footer-container h2 {
  color: #f18805;
}

.footer-container li a {
  color: white;
}

.footer-container li a:hover {
  color: white;
}

.footer-container li {
  color:#FF7A33;
  font-size: 1.1rem;
  line-height: 1.5;
}
/* social media buttons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin:  5px 2px;
  border-radius: 50%;
}
/* Style the social media icons with color,  */
.icon-bar a:hover {
  background-color: #FF7A33;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #007bb5;;
  color: white;
}

.tiktok {
  background: #007bb5;
  color: white;
}

.instagram {
  background: #007bb5;
  color: white;
}

.copyright {
  display: block;
  align-items: center;
  text-align: center;
  padding: 0.4rem;
  background-color: #f18805;;
  color:black;
  word-spacing: 4px;}

