@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body background */
body {
    font-family: lato, sans-serif;
    background: black;
    color: white;
}
/* headings and logo */
.container{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
}
#logo {
  font-weight: 300;
  color: #daa520;
  letter-spacing: 2px;
  margin: 10px 0 0 20px;
  width: 80%;
  font-family: "Oswald", "sans-serif";
  line-height: 60px;
}
h1,h4 {
   font-family: Lato, sans-serif;
   text-transform: uppercase;
   letter-spacing: 4px;

}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: right;
}
.items a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

}
.items a:hover {
    color: #058F8A;
}
.active {
    color: #058F8A !important;
}


button:hover {
  background: white;
  outline: 1px solid #16DBD4;
  color: #16DBD4;
  border: none;
  text-decoration: underline;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

/* hero image */
#hero-image {
  height: 45px;
  width: 100%;
  background-image: url('../images/tired-man.jpg') no repeat center center;
 background-position: relative;

#hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #daa520;
}
  }

  .row {
    grid-template-columns: 1fr;
  }
  
/* services */
#services {
  height: 400px;
}
.mhs-left {
  padding-top: 30px;
  width: 33%;
  float: left;
  background-color: #FF7A33;
}
.mhs-center {
  padding-top: 30px;
  width: 33%;
  margin: 0 auto;
  background-color: #058F8A;
}
.mhs-right {
  padding-top: 30px;
  width: 33%;
  float: right;
  background-color: #BD4607;
}
/* general content */
.info {
  text-align: center;
  padding: 40px 40px 0 40px;
}
.info h2 {
  margin: 0 auto 20px auto;
  font-size: 35px;
  border-bottom: 2px solid #FF7A33;
  padding: 5px 10px 0 10px;
  width: fit-content;
}
.info p {
  font-size: 1rem;
  color: white;
}
.info h3 {
  font-size: 24px;
  padding: 30px;
}