@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* Body background */
#background{
    background: rgb(223, 206,188);
}
/* header and logo */