@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Body background */
#background{
    font-family: lato, sans-serif;
    background: black;
    color: white;
}
/* header and logo */
.container{
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    align-items: center;
}
.items a:link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;

}
.items a:hover {
    color: red;
}
.active {
    color: red !important;
}

  border: none;
}

button:hover {
  background: white;
  outline: 1px solid red;
  color: red;
  border: none;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
}

}

.hero-heading {
  font-size: 3rem;
  margin-bottom: 0.3rem;
}
.hero-sub-heading {
  font-size: 0.9rem;
  opacity: 0.7;
}
/* Hero image */
#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
}


@media only screen and (max-width: 800px) {
  .items {
    display: none;
  }

  .row {
    grid-template-columns: 1fr;
  }
  
}


